<ion-header>
  <ion-toolbar>
    <ion-title>Create Budget</ion-title>
    <ion-buttons slot="end" fill="clear" (click)="closeModal()" class="ion-padding">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form #form="ngForm" (ngSubmit)="createData(form)">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Item</ion-label>
            <ion-input ngModel name="item" type="text" required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input ngModel name="price" type="number" required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Amount</ion-label>
            <ion-input ngModel name="amount" type="number" required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Type</ion-label>
            <ion-select interface="popover" placeholder="choose one" ngModel name="type" >
              <ion-select-option value="income">Income</ion-select-option>
              <ion-select-option value="expense">Expense</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-button size="medium" type="submit" expand="block" [disabled]="form.invalid">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>
