<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Qore To Do
    </ion-title>
    <ion-icon slot="end" class="ion-padding" (click)="addTodo()" name="add-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of listData">
        <ion-card>
          <ion-item>
            <ion-label class="ion-no-padding" slot="start"> {{item.name}}</ion-label>
            <ion-text class="ion-no-padding" slot="end"> {{item.createdAt | date:'medium'}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h6>{{item.title}}</h6>
              <p>{{item.description}}</p>
            </ion-text>
          </ion-item>
          <img src="{{item.img}}" alt="img-card">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
